<div class="container main">
  <div class="row_title">
    <h1>Bienvenidos ☻</h1>
  </div>
  <div class="row_body">
    <div class="container_img">
      <img src="../../../../assets/images/angular.png" alt="">
    </div>
  </div>
  <div class="row_footer">
    <footer>
      <div class="footer-content">
        <h3>SPA con Angular Material</h3>
        <p>Material Design es una guía completa para el diseño visual, interactivo y de movimiento en plataformas y dispositivos. A fin de usar material design en tus apps para Android, sigue las pautas definidas en su especificación y usa los nuevos componentes y estilos disponibles en la biblioteca de compatibilidad de material design. En esta página, se ofrece una descripción general de los patrones y las API que debes usar.</p>
      </div>
    </footer>
  </div>
</div>
